{% extends 'base.html' %}
{% block title %}Organization detail{% endblock %}
{% block body %}
    <p class="display-4 text-center bg-primary">Details of {{ object.organization_name }} organization</p>
    <div class="container">
        <div class="btn-group btn-group-lg mb-2">
            <div><a href="{% url 'organization:list' %}" class="btn btn-primary">Back</a></div>
            <div><a href="#" class="btn btn-warning">Invoice issuance</a></div>
            <div><a href="{% url 'organization:edit' object.pk %}" class="btn btn-success">Edit</a></div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="province">Province: </label>
                <input type="text" id="province" disabled value="{{ object.province }}">
            </div>
            <div class="col-4">
                <label for="phone">Organization phone: </label>
                <input type="text" id="phone" disabled value="{{ object.organization_phone }}">
            </div>
            <div class="col-4">
                <label for="date">Registration Date: </label>
                <input type="text" id="date" disabled value="{{ object.format_time }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <label for="workers">Workers: </label>
                <input type="text" id="workers" disabled value="{{ object.workers }}">
            </div>
            <div class="col-4">
                <label for="registrar">Registrar: </label>
                <input type="text" id="registrar" disabled value="{{ object.registrant_user }}">
            </div>
        </div>
        <div class="row mt-4">
            <label>Products:
                <input type="text" disabled value="{{ all_products|join:', ' }}">
            </label>
        </div>
        <div class="row mt-4">
            <label>Recommended Products:
                <input type="text" disabled value="{{ recommended|join:', ' }}">
            </label>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <label>contact fullname:
                    <input type="text" disabled value="{{ object.contact_fullname }}">
                </label>
            </div>
            <div class="col-6">
                <label>contact mobile phone:
                    <input type="tel" disabled value="{{ object.contact_mobile }}">
                </label>
            </div>
        </div>
        <div class="row-mt-4">
            <h3 class="display-4" style="text-align: right">Report history</h3>
            {% if reports %}
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Report</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td id="user" data-pk="{{ report.pk }}">{{ report.user.username }}</td>
                            <td>{{ report.date }}</td>
                            <td><a href="{% url 'sale:report detail' report.pk %}"></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No Report exist</h2>
            {% endif %}
        </div>
        <div class="row mt-2">
            <label>Report
                <textarea id="work-report" name="report" cols="20" rows="15" placeholder="report"></textarea>
            </label>
            <button class="btn btn-primary" id="save-btn">Save</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(
      $('#save-btn').click(function () {
        const report=$('work-report').val();
        const date=new Date();
        const user_pk=$('#user').dataset.pk;
        $.ajax({
            url: '{% url "sale:save report" %}',
            data:{
                report:report,
                date: date,
                user_pk: user_pk
            },
            method: 'POST',
            success: function (response) {
                alert(response.message);
            },
            error: function (response){
                alert(response.message)
            }
        })
      })
    );
    </script>
{% endblock %}