{% extends 'base.html' %}
{% block title %}Organization detail{% endblock %}
{% block body %}
    <p class="display-4 text-center bg-primary">Details of {{ object.organization_name }} organization</p>
    <div class="container">
        <div class="btn-group btn-group-lg mb-2">
            <div><a href="{% url 'organization:list' %}" class="btn btn-primary">Back</a></div>
            <div><a href="#" class="btn btn-warning">Invoice issuance</a></div>
            <div><a href="{% url 'organization:edit' object.pk %}" class="btn btn-success">Edit</a></div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="province">Province: </label>
                <input type="text" id="province" disabled value="{{ object.province }}">
            </div>
            <div class="col-4">
                <label for="phone">Organization phone: </label>
                <input type="text" id="phone" disabled value="{{ object.organization_phone }}">
            </div>
            <div class="col-4">
                <label for="date">Registration Date: </label>
                <input type="text" id="date" disabled value="{{ object.format_time }}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <label for="workers">Workers: </label>
                <input type="text" id="workers" disabled value="{{ object.workers }}">
            </div>
            <div class="col-4">
                <label for="registrar">Registrar: </label>
                <input type="text" id="registrar" data-pk="{{ pk }}"
                       disabled value="{{ object.registrant_user }}">
            </div>
        </div>
        <div class="row mt-4">
            <label>Products:
                <input type="text" disabled value="{{ all_products|join:', ' }}">
            </label>
        </div>
        <div class="row mt-4">
            <label>Recommended Products:
                {% if recommended %}
                    <input type="text" disabled value="{{ recommended|join:', ' }}">
                {% else %}
                    <input type="text" disabled value="No suggestion">
                {% endif %}
            </label>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <label>contact fullname:
                    <input type="text" disabled value="{{ object.contact_fullname }}">
                </label>
            </div>
            <div class="col-6">
                <label>contact mobile phone:
                    <input type="tel" disabled value="{{ object.contact_mobile }}">
                </label>
            </div>
        </div>
        <hr>
        <div class="row-mt-4">
            <div class="invisible alert" id="status"></div>
            <h3 class="display-4" style="text-align: center">Report History</h3>
            {% if reports %}
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Report</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td id="user" data-pk="{{ report.pk }}">{{ report.user.username }}</td>
                            <td>{{ report.date }}</td>
                            <td><a class="btn btn-primary" href="{% url 'sale:report_detail' report.pk %}">Detail</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2 class="text-center">No Report exist</h2>
            {% endif %}
        </div>
        <div class="row mt-2">
            <textarea id="work-report" name="report" cols="15" rows="10" placeholder="report"></textarea>
            <button class="btn btn-primary mt-2" id="save-btn">Save</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(
            $('#save-btn').click(function () {
                const report = $('#work-report').val();
                debugger;
                const date = new Date();
                const user_pk = $('#registrar')[0].dataset.pk;
                let cookie = document.cookie
                const csrf = cookie.substring(cookie.indexOf('=') + 1)
                $.ajax({
                    url: '{% url "sale:save report" %}',
                    data: {
                        report: report,
                        date: date,
                        user_pk: user_pk
                    },
                    headers: {
                    'X-CSRFToken': csrf
                    },
                    method: 'POST',
                    success: function (response) {
                        const context='<span class="closebtn">&times;</span>'+
                            '<strong>Success!</strong> '+response.message;
                        $('#status').removeClass('invisible').addClass('success').append(context);
                    },
                    error: function (response) {
                        const context='<span class="closebtn">&times;</span>'+
                            '<strong>Error!</strong> '+response.message;
                        $('#status').removeClass('invisible').append(context);
                    }
                })
            })
        );
    </script>
{% endblock %}