{% extends 'base.html' %}
{% load static %}
{% block title %}{{ report }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
    <h2>Details of {{ report }}</h2>
    <div class="row mt-2">
        <div class="col-6">
            <label>User
            <input disabled value="{{ report.user.username }}">
            </label>
        </div>
        <div class="col-6">
            <label>Date
            <input disabled value="{{ report.format_time }}">
            </label>
        </div>
    </div>
    <div class="mt-4"><p id="Report">{{ report.report }}</p></div>
    </div>
{% endblock %}