{% extends 'base.html' %}
{% load static %}
{% block title %}{{ report }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
    <h2 class="text-center display-3 text-info">Detail</h2>
    <div class="row mt-2">
        <div class="col-6">
            <label>User
            <input disabled value="{{ report.user.username }}">
            </label>
        </div>
        <div class="col-6">
            <label>Date
            <input disabled value="{{ report.format_time }}">
            </label>
        </div>
    </div>
    <div class="mt-4" style="padding: 25px">
        Report Context:
        <pre style="border: 2px solid orangered">
            {{ report.report }}
        </pre>
    </div>
    <div class="row">
        <a class="btn btn-info" href="{% url 'organization:list' %}">Back</a>
    </div>
    </div>
{% endblock %}