<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Content</title>
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
</head>
<body>
<h2 style="color: red; margin: auto">Your quote contains these items</h2>
{% if quotes %}
    <table class="table">
    <thead>
        <tr>
            <th>device</th>
            <th>price</th>
            <th>quantity</th>
            <th>total</th>
        </tr>
    </thead>
        {% for item in quotes.quoteitem_set.all %}
            <tr>
                <td>{{ item.device }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p id="not">No content exist</p>
{% endif %}
</body>
</html>