{% extends 'base.html' %}
{% block title %}Quote{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 class="text-center display-3">Quote list</h1>
        <div class="row m-3">
            <p>Organization {{ quote.organization.organization_name }} Quote</p>
        </div>
        {% if quote.quoteitem_set.all %}
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Device</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in quote.quoteitem_set.all  %}
                <tr>
                <td>{{ item.device }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.output_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning text-center">No content exist</div>
        {% endif %}
    </div>
{% endblock %}