{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
{% endblock %}
{% block field_sets %}{% endblock %}
{% block submit_buttons_bottom %}
    <div class="row">
        <div class="col-6">Product name:
            {{ adminform.form.name }}
        </div>
        <div class="col-4">
            <label for="id_tags">Tags</label>
            <select name="tags" id="id_tags" multiple>
                {% for tag in tags %}
                    <option value="{{ tag.1 }}">{{ tag.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>

{% endblock %}